#header{
   /* background: lightgray;*/
}

body{
    background-color: lightgray;
}

#canvasContainer{
    border: 5em;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: fit-content;
}

#buttonContainer{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1{
    text-align: center;
}

